#dashboard {
    width: 100%;
    max-width: 1000px;

    grid-template-areas:
        'announcements announcements'
        'goals general';
}

#announcements {
    grid-area: announcements;
}

#goals {
    grid-area: goals;
}

#general {
    grid-area: general;
}

@media only screen and (max-width: 1125px) {
    #grid-container {
        max-width: 750px;

        grid-template-columns: repeat(2, 1fr);

        grid-template-areas:
            'announcements announcements'
            'goals goals'
            'processing tools';
    }
}

@media only screen and (max-width: 875px) {
    header {
        display: flex;
        justify-content: center;
    }

    main {
        margin-top: 50px;
    }

    #dashboard {
        max-width: 500px;

        grid-template-columns: repeat(1, 1fr);

        grid-template-areas:
            'announcements'
            'goals'
            'processing'
            'tools';

        grid-gap: 15px;
    }

    .grid-item {
        border-radius: 15px;
    }

    .grid-item-content {
        display: flex;
        justify-content: center;
    }
}