#locations {
    width: 100%;
    max-width: 1000px;
}

#aisle, #bay, #column, #row {
    grid-template-columns: 1fr 1fr;
}

#generate {
    background-color: gold;
}

@media only screen and (max-width: 900px) {
    #locations {
        max-width: none;
    }

    #aisle, #bay, #column, #row {
        grid-template-columns: 1fr;
    }
}